.carousel-item img {
  height: 90vh;
  filter: brightness(0.5);
}
.buenos-aires {
  background-color: #343a40;
}
.subrrayado {
  text-decoration: underline;
  text-decoration-style: dotted;
}
.about {
  font-size: 25px;
}
.footer {
  background: rgb(19, 44, 57);
  background: linear-gradient(
    90deg,
    rgba(19, 44, 57, 1) 25%,
    rgba(21, 53, 72, 1) 50%,
    rgba(11, 50, 74, 1) 75%,
    rgba(2, 58, 87, 1) 100%
  );
}
